/* .label {
  font-size: 18px;
}
.input {
  display: block;
  width: 222px;
  height: 22px;
  padding-left: 13px;
  margin-top: 7px;
  margin-bottom: 33px;
  border: 1px solid #94959b;
  border-radius: 3px;
}
.input:focus {
  border: 1px solid #4985ff;
  outline: none;
  box-shadow: 0px 0px 10px rgb(111 111 111 / 55%);
} */
