/* .link {
  color: black;
}
.link:hover,
.link:focus {
  color: red;
}
.activeLink {
  color: red;
}
.authentication {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
} */
